<form method="POST">
  Query: <input type="text" name="query" size="200" value='seg_ar:(*اسرائيل* OR *فلسطين* OR (*ضف* AND *غربي*) OR غز* OR *قدس OR *بحرين) AND seg_ar:(*مريك* OR ك*شن*ر OR *جرينبلا* OR تر*مب OR (صفق* AND *قرن))'><br>
  Start Date: <input type="text" name="start_date" size="50" value='2019-06-07T00:00:00Z'><br>
  End Date: <input type="text" name="end_date" size="50" value='2019-06-13T00:00:00Z'><br>
  <select name="channel">
    <option value="Al-Jazeerah" selected>Al-Jazeerah</option>
    <option value="AlArabiya">AlArabiya</option>
    <option value="Alalam">Alalam</option>
    <option value="balls">IDENTV SUCCKSS</option>
  </select><br>
  <input type="submit" value="IF YOU ONLY DARE!">
</form>
